In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("./example.csv")

In [5]:
data

,country,ASN,TimeStamp,MetricA,CoServer,Bytes,SendTime
0,de,31334,[07/Aug/2015:20:30:01+0000],76410,302,435,0.326
1,pl,50231,[07/Aug/2015:20:30:01+0000],126746,200,7400,0.000
2,gr,3329,[07/Aug/2015:20:30:01+0000],126474,206,17711,0.000
3,tr,9121,[07/Aug/2015:20:30:02+0000],76406,200,19589,0.000
4,se,3301,[08/Aug/2015:16:29:00+0000],76406,200,17960,0.000
5,kz,9198,[08/Aug/2015:16:30:02+0000],76406,200,2403,0.000
6,ch,6830,[08/Aug/2015:16:32:22+0000],76406,200,16099,0.000
7,rs,21246,[09/Aug/2015:17:13:03+0000],76406,200,64127,0.000
8,rs,21246,[09/Aug/2015:17:13:55+0000],76406,200,64704,0.000
9,ro,9050,[09/Aug/2015:20:30:02+0000],126518,206,302932,0.504
10,at,8447,[09/Aug/2015:20:35:13+0000],55510,200,33494,0.006
11,de,3320,[09/Aug/2015:20:35:25+0000],55510,200,603522,2.892
12,de,3320,[10/Aug/2015:09:10:10+0000],55510,200,33526,0.007
13,de,3320,[10/Aug/2015:09:19:12+0000],55510,200,796672,2.170
14,at,8447,[10/Aug/2015:09:19:20+0000],55510,200,33528,0.029
15,at,8447,[10/Aug/2015:10:28:29+0000],55510,200,33535,0.000
16,at,1901,[10/Aug/2015:10:29:12+0000],126474,206,707542,0.470
17,de,3320,[10/Aug/2015:10:30:29+0000],55510,200,460289,0.633
18,at,12635,[10/Aug/2015:10:34:18+0000],126700,206,120283,0.000
19,cz,15685,[11/Aug/2015:12:20:19+0000],126518,206,850334,0.756

- If the dataset is properly formatted as in the above dataset it is simple to use the mean() function that is built in pandas after grouping the data by ASN and Co server respectively, as shown below, from here it is easy to find the avg throughput of any required ASN or Co Server

In [19]:
group_ASN = data.groupby("ASN").mean().Bytes
group_ASN

ASN
1901     707542.00
3301      17960.00
3320     473502.25
3329      17711.00
6830      16099.00
8447      33519.00
9050     302932.00
9121      19589.00
9198       2403.00
12635    120283.00
15685    850334.00
21246     64415.50
31334       435.00
50231      7400.00
Name: Bytes, dtype: float64

In [20]:
group_CoServer = data.groupby("CoServer").mean().Bytes
group_CoServer

CoServer
200    156203.428571
206    399760.400000
302       435.000000
Name: Bytes, dtype: float64

- We can instead of SendTime make a timeStamp of arrival time which will make it easier to calculate the time delta and also make it easier to understand the time the bytes reaches the destination
- we could group and order by autonomous number to make it easier to understand from which systems the messages coming through.
- grouping by countries
- grouping by Co Server
- grouping by a combination of ASN and metric